
.Header {
  height: 30px;
  border-bottom: 1px solid grey;
  padding: 1rem;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

.isOpen {
  display: inherit;
}

.isClosed {
  display: none;
}
